<html>
<body>
<pre><code>
This site was setup by <%= node[ 'hostname' ] %>
    <h1>   < I LIKE PI! >
          \    ^__^
           \   (OO)\_______
               (__))\/\    \
                   ||----w |
                   ||     ||</h1>
<body>
</html>  

